@model List<MetalBakeMVC.Models.ItemStock>
@{
    ViewBag.Title = "StockList";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>StockList</h2>
@{
    foreach (var item in Model)
    {
        <li>@{item.Name + item.ItemId + item.Amount}</li>
}
}
