
@{
    ViewBag.Title = "AddToCart";
}

<h2>AddToCart</h2>
<input type="number" name = "quantityToBuy" step="1" />
@Html.ActionLink("Add", "MakeOrder", "Order", null, new { @class = "btn btn-primary" })
